body {
  font-family: Poppins;
  color: #ffffff;
  background-color: #9cd1d6;
  text-align: center;
  line-height: 1.38;
  letter-spacing: 0.4px;
}

.img-container {
  width: 25%;
  height: 10%;
  overflow: hidden;
  margin: 2rem auto;
}

.img-container img {

  max-width: 100%;
  height: auto;
  display: block;
}

#title {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  border: 4px black;
}

#banner {
  padding: .66rem 0;
  text-align: center;
  background-color: #c94c4c;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

h1 a {
  text-decoration: none;
}

h1 a:link, h1 a:visited {
    color: white;
}

#country-search {
 display:inline-block;
}

#country-search-input {
 width: 250px;
 height: 36px;
 border-radius: 3px;
 padding-left:20px;
 border: solid 1px #cecccf;
 font-family: Work Sans;
 font-size: 18px;
 font-weight: 500;
 line-height: 1.0;
 letter-spacing: 0.4px;

 text-align: left;
 color: #4f4f4f;
}

#search {
  display: inline-block;
  padding: 32px 0;
}

#country-search-button:hover {
  cursor: pointer;
  background-color: #c94c4c;
  transition: background-color .5s;
}

.container {
  background-color: #ffffff;
  color: #000000;
  width: 65%;
  margin: 5rem auto;
  padding-bottom: 5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  text-align: center;
}

#country-header th {
  background: #c8f1f5;
  padding-top: 18px;
}

td, th {
  padding-top: 10px;
}

th, .table-descriptor {
  font-size:14px;
}

td.table-value {
  color: #7a797a;
  font-size: 16px;
  font-family: Work Sans;
  height: 19px;
  letter-spacing: 0.4px;
}

tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #f5f4f5;
}

#country-search-button {
  width: 146px;
  height: 45px;
  border-radius: 54px;
  background-color: #9cd1d6;
  font-family: Work Sans;
  line-height: 1.13;
  font-size: 15px;
  border: none;
  color: #ffffff;
  margin: 2rem 1rem;
}

.subheader {
  height: 50px;
  background-color: #c8f1f5;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #000000;
  padding-top:10px
}

.gold-medal-table th:nth-child(-n+3) {
  width:15%;
}

.gold-medal-table th:nth-child(n+4) {
  width:20%;
}

@media (max-width: 750px) {
  #title-line {
    width:90%;
  }

  #container {
    width: 95%;
  }
}

.sort, .country-link * {
  cursor:pointer;
}
